body{
    background-color: rgb(201, 196, 196);
}


.container{
    background-color: whitesmoke;
}

#imagemLoja{
    width: 100%;
}

h3{
    text-align: center;
}
h5,h6{
    text-align: center;
}
#rodape{
    padding-top: 50px;
    background-color: darkgray;
}

#receba{
    color: antiquewhite;
}